body {
  font-family: 'Inconsolata';
}

h1 {
  font-size: 46px;;;
}

.App-div {
    width: 1000px;
    text-align: center;
    background-color: rgb(114, 176, 231);
    padding: 20px 50px;
    margin: auto;
    border-radius: 10px;;
}