body {
  font-family: 'Inconsolata';
}

h1 {
  font-size: 46px;
  color: white;
}

.App-div {
    width: 1000px;
    text-align: center;
    background-color: rgb(42, 19, 57);
    padding: 20px 50px;
    margin: 40px auto;
    border-radius: 10px;;
}